.aboutpage {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/* Hero Section */
.hero {
    padding: var(--padding);
    background: var(--clr-Dark-Navy-300) url(../../assets/location-hero-bg.png) no-repeat;
    background-size: cover;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    font-weight: var(--fw-700);
    color: var(--clr-white);
}

/* Story Section */
.story,
.story__one,
.story__two,
.story__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.story {
    overflow: hidden;
}

.story__one,
.story__two {
    padding: var(--padding);
    flex-direction: column-reverse;
    position: relative;
}

.story__one::before,
.story__two::before {
    content: "";
    position: absolute;
    bottom: 40%;
    left: 2.5rem;
    width: 741px;
    height: 151px;
    background: url(../../assets/arrow-left-down.svg) no-repeat;
}

.story__one::before {
    transform: rotate(180deg);
}

.story__two::before {
    top: 2rem;
    left: -25rem;
    background: url(../../assets/arrow-left-down.svg) no-repeat;
}

.story__title,
.feature__title {
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    line-height: 1.3;
    text-align: center;
    max-width: 400px;
}

.story__desc {
    font-weight: var(--fw-300);
    text-align: center;
    max-width: 450px;
}

/* Features */
.features,
.feature__inner,
.feature__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.features {
    --padding: 0 1rem;

    padding: var(--padding);
}

.feature__inner {
    --padding: 1rem 0;
    --gap: 2rem;

    padding: var(--padding);
}

.feature__container {
    --gap: .5rem;
}

.feature__name {
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    font-size: var(--fs-500);
    text-align: center;
}

.feature__desc {
    font-weight: var(--fw-300);
    text-align: center;
    max-width: 450px;
}

/* Faqs */
.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
}

.faqs h2 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    text-align: center;
    margin-bottom: 1rem;
}

.faq__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

.faq__title {
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    font-size: var(--fs-500);
}

.faq__list li {
    padding: var(--padding);
    background-color: var(--clr-snow);
    margin-bottom: .75rem;
}

details > summary {
    font-weight: var(--fw-500);
    border: none;
    cursor: pointer;
}

details > summary:focus {
    outline: 2px dotted var(--clr-Dark-Navy);
    outline-offset: 4px;
}

details > p {
    padding: .5rem 1rem;
    font-weight: var(--fw-300);
}

@media (min-width: 650px) {
    /* Root variables */
    :root {
        --fs-400: 18px;
        --fs-500: 24px;
        --fs-600: 48px;
        --fs-800: 56px;

        --max-width: 950px;
    }

    /* Hero Section */
    .hero {
        --padding: 1rem 1.5rem;

        background: var(--clr-Dark-Navy-300) url(../../assets/location-hero-tablet.png) no-repeat;
        background-size: cover;
        height: 200px;
        justify-content: flex-start;
    }

    /* Story Section */
    .story__one,
    .story__two {
        --padding: 1rem 1.5rem;
    }

    .story__one::before,
    .story__two::before {
        bottom: 50%;
        left: 2rem;
    }

    .story__two::before {
        top: 3rem;
        left: -25rem;
    }

    .story__title {
        max-width: 450px;
    }

    .story__desc {
        max-width: 550px;
    }

    /* Features */
    .features {
        --padding: 0 1.5rem;
    }

    .feature__desc {
        font-weight: var(--fw-300);
        text-align: center;
        max-width: 500px;
    }

    /* Faqs */
    .faqs {
        --padding: 1rem 1.5rem;
    }

}

@media (min-width: 950px) {
    /* Root variables */
    :root {
        --max-width: 1500px;
    }

    /* Hero Section */
    .hero {
        --padding: 1rem 3rem;

        background: var(--clr-Dark-Navy-300) url(../../assets/location-hero-desktop.png) no-repeat;
        background-size: cover;
    }

    /* Story Section */
    .story {
        padding: 2rem 3rem;
    }

    .story__one,
    .story__two {
        padding: unset;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .story__detail {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .story__one img,
    .story__two img {
        height: auto;
    }

    .story__one::before,
    .story__two::before {
        bottom: 8%;
        left: 30rem;
    }

    .story__two {
        flex-direction: row-reverse;
    }

    .story__two::before {
        top: 2rem;
        left: -25rem;
    }

    .story__title {
        text-align: left;
        max-width: 450px;
    }

    .story__desc {
        text-align: left;
        max-width: 500px;
    }

    /* Features */
    .features {
        --padding: 1rem 3rem;
    }

    .feature__inner {
        flex-direction: row;
        align-items: flex-start;
    }

    /* Faqs */
    .faqs {
        --padding: 1rem 3rem;
    }

    .faq__list {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    .faq__list li {
        width: 60vw;
    }
}

@media (min-width: 1155px) {
    .story__one::before,
    .story__two::before {
        bottom: 8%;
        left: 40rem;
    }

    .story__two::before {
        top: 2rem;
        left: -12rem;
    }

    /* Faqs */
    .faq__list li {
        width: 70vw;
    }
}