.locationpage {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/* Hero Section */
.hero {
    padding: var(--padding);
    background: var(--clr-Dark-Navy-300) url(../../assets/location-hero-bg.png) no-repeat;
    background-size: cover;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    font-weight: var(--fw-700);
    color: var(--clr-white);
}

/* Locations */
.locations,
.location__container {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.location__container {
    padding: 0;
    width: 100%;
}

.location__name {
    padding: var(--padding);
    background-color: var(--clr-primary-300);
    width: 100%;
    text-align: center;
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
}

/* availibility */
.location__availibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
}

.availibility__status {
    text-align: center;
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
}

.availibility__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.availibility__desc {
    text-align: center;
    font-weight: var(--fw-300);
    max-width: 450px;
}

@media (min-width: 650px) {
    /* Root variables */
    :root {
        --fs-400: 18px;
        --fs-500: 24px;
        --fs-600: 48px;
        --fs-800: 56px;

        --max-width: 950px;
    }

    /* Hero Section */
    .hero {
        --padding: 1rem 1.5rem;

        background: var(--clr-Dark-Navy-300) url(../../assets/location-hero-tablet.png) no-repeat;
        background-size: cover;
        height: 200px;
        justify-content: flex-start;
    }

    /* Locations */
    .locations,
    .location__container {
        --padding: 1rem 1.5rem;
    }

    .location__container {
        display: none;
    }


    /* availibility */
    .location__availibility {
        --padding: 1rem 1.5rem;
    }

    .availibility__status {
        max-width: 500px;
    }

    .availibility__desc {
        max-width: 570px;
        margin-bottom: 1rem;
    }
}

@media (min-width: 950px) {
    /* Root variables */
    :root {
        --max-width: 1500px;
    }

    /* Hero Section */
    .hero {
        --padding: 1rem 3rem;

        background: var(--clr-Dark-Navy-300) url(../../assets/location-hero-desktop.png) no-repeat;
        background-size: cover;
    }

    /* Locations */
    .locations,
    .location__container {
        --padding: 2rem 3rem;
    }

    /* availibility */
    .location__availibility {
        --padding: 1rem 3rem;
        flex-direction: row;
    }

    .availibility__status {
        max-width: 400px;
        text-align: left;
    }

    .availibility__detail {
        align-items: flex-start;
    }

    .availibility__desc {
        max-width: 570px;
        text-align: left;
        margin: 0;
    }
}

@media (min-width: 1100px) {
    .location__availibility {
        justify-content: space-between;
    }

    .availibility__detail {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: clamp(1rem, 10vw, 5rem);
    }

    .availibility__status {
        max-width: 400px;
    }

    .availibility__desc {
        max-width: 600px;
        margin-bottom: 0;
    }
}